<h1>New Progress report</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.progress_report_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.progress_report_path(@conn, :index) %></span>
