<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RudiWriter</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="container mx-auto">
    <nav class="flex items-center justify-between flex-wrap py-6">
      <div class="flex items-center flex-no-shrink mr-6">
        <span class="font-semibold text-xl tracking-tight">RudiWriter</span>
      </div>

      <div class="block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
      </div>

      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
          <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 no-underline text-blue hover:text-blue-lighter mr-4">
            Prompt o' the day
          </a>
          <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 no-underline text-blue hover:text-blue-lighter mr-4">
            TouchTyper
          </a>
          <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 no-underline text-blue hover:text-blue-lighter">
            My Progress
          </a>
        </div>
        <div class="text-sm">
          <%= if @current_user do %>
            <%=
              link @current_user.username,
              class: "block mt-4 lg:inline-block lg:mt-0 no-underline text-blue hover:text-blue-lighter mr-4",
              to: Routes.user_path(@conn, :profile)
            %>
            <%= form_for @conn, Routes.session_path(@conn, :delete, @current_user), [class: "float-right", method: :delete], fn f -> %>
              <%=
                submit "Logout",
                class: "block mt-4 lg:inline-block lg:mt-0 no-underline text-blue hover:text-blue-lighter mr-4"
              %>
            <% end %>
          <% else %>
            <%=
              link "Register",
              class: "block mt-4 lg:inline-block lg:mt-0 no-underline text-blue hover:text-blue-lighter mr-4",
              to: Routes.user_path(@conn, :new)
            %>
            <%=
              link "Login",
              class: "block mt-4 lg:inline-block lg:mt-0 no-underline text-blue hover:text-blue-lighter",
              to: Routes.session_path(@conn, :new)
            %>
          <% end %>
        </div>
      </div>
    </nav>

    <main role="main">
      <%= if get_flash(@conn, :info) do %>
        <div class="bg-purple-lightest border-l-4 border-purple text-purple-dark p-4 my-2" role="alert">
          <p class="font-bold">Good news, everyone!</p>
          <%= get_flash(@conn, :info) %>
        </div>
      <% end %>

      <%= if get_flash(@conn, :error) do %>
        <div class="bg-red-lightest border-l-4 border-red text-red-dark p-4 my-2" role="alert">
          <p class="font-bold">Bad news, everyone!</p>
          <%= get_flash(@conn, :error) %>
        </div>
      <% end %>

      <%= render @view_module, @view_template, assigns %>

    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/phoenix.js") %>"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
