<h1>Edit User prompt</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_prompt_path(@conn, :update, @user_prompt)) %>

<span><%= link "Back", to: Routes.user_prompt_path(@conn, :index) %></span>
